/* styles made to be reused elsewhere for building responsive or table grids */

.table {
  display: table;
}
.table.fixed {
  table-layout: fixed;
}
.row {
  display: table-row;
}
.col {
  display: table-cell;
  vertical-align: middle;
}

.area--left {
  width: 33%;
}
.area--center {
  min-width: 250px;
  text-align: center;
  width: 33%;
}
.area--right {
  width: 33%;
}

