/* styles made to be reused elsewhere for building responsive or table grids */

.table {
  display: table;
}
.table.fixed {
  table-layout: fixed;
}
.row {
  display: table-row;
}
.col {
  display: table-cell;
  vertical-align: middle;
}

.area--left {
  border: 1px solid green;
  width: 33%;
}

.area--center {
  border: 1px solid blue;
  min-width: 250px;
  text-align: center;
  width: 33%;
}

.area--right {
  border: 1px solid red;
  width: 33%;
}

