.table {
  display: table;
  table-layout: fixed;
}
.row {
  display: table-row;
  /*width: 100%;*/
}
.col {
  display: table-cell;
  /*height: 100%;*/
  vertical-align: middle;
  /*width: 33%;*/
}

.area--left {
  border: 1px solid green;
  /*float: left;*/
  /*margin-right: 100px;*/
  /*transform: translateY(50%);*/
  width: 33%;
}

.area--center {
  border: 1px solid blue;
  /*height: 100%;*/
  min-width: 250px;
  /*width: 300px;*/
  /*transform: translateY(50%);*/
  width: 33%;

  /*left: 0;
  margin: 0 auto; !* Will not center vertically and won't work in IE6/7. *!
  position: fixed;
  right: 0;*/
}
.area--right {
  border: 1px solid red;
  /*float: right;*/
  /*margin-left: 100px;*/
  text-align: center;
  /*transform: translateY(50%);*/
  width: 33%;
}

