header {
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url('../images/logo_cornercard-1.svg');
  background-position: 15% 0;
  background-repeat: no-repeat;
  border-bottom: 1px solid #ffffff;
  /*display: none;*/ /* status attribute moved to HTML because it is uncorreleated to the other structure attributes (separation of responsibilities) */
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header .descr {
  float: right;
  margin-top: 5px;
  text-align: center;
  width: 50%;
}

header .descr .text {
  display: inline-block;
  width: 270px;
}

header .buy-area {
  float:right;
  margin-top: 5px;
  width: 30%;
}